/*text marking (3e)*/
mark.blue{
    background-color: lightskyblue;
}

mark.red{
    background-color: crimson;
}

mark.yellow{
    background-color: sandybrown;
}


.spacing{
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    margin: 0 auto;
    padding: 10px 0;


}
span{
    height: 10px;
    width: 20px;
}